/.vscode
/launcher/node_modules
/launcher/src-tauri/target
/launcher/target
/launcher/dist
launcher_settings.json
/models
/src/models
/src/__pycache__
/src/.venv
/src/.vscode
/src/cache
/src/node_modules
/src/config.json
/src/vbr_proxy_prototype
/temp
/hls-test
/src/audio_processor/target
src/cert/*