requests
beautifulsoup4
subliminal
babelfish
webvtt-py
tqdm
openai-whisper
mutagen
musicbrainzngs
Pillow
torch
transformers
llama-cpp-python
langdetect
openai
tenacity
sentence-transformers
faiss-cpu
Flask
Flask-Cors
guessit
tmdbv3api
numpy