requests
beautifulsoup4
subliminal
babelfish
webvtt-py
tqdm
faster-whisper
mutagen
musicbrainzngs
Pillow
torch
transformers
llama-cpp-python
langdetect
openai
tenacity
sentence-transformers
faiss-cpu
Flask
Flask-Cors
guessit
tmdbv3api
numpy
jaconv
Unidecode
opencc-python-reimplemented
cloudscraper
zhconv
pydub
DrissionPage
